.searchSection {
  max-width: 70rem;
  margin: 0 auto;
  background-color: var(--color-dark);
  border-radius: 1rem;
}

.wrapper {
  padding: 2rem;
}

.headingPrimary {
  color: var(--color-white);
  margin: 2rem 0;
  font-size: 4.4rem;
  text-align: center;
}

.searchheader {
  color: var(--color-white);
}

.searchForm {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.searchInput {
  width: 60%;
  height: 4.4rem;
  border: none;
  outline: none;
  padding-left: 2rem;
  border-radius: 0.5rem;
}

.button {
  padding: 1rem 2.4rem;
  border: none;
  font-size: 2rem;
  background-color: #22c55e;
  color: var(--color-white);
  border-radius: 0.5rem;
  font-weight: 500;
  transition: 0.3s;
}

.button:hover {
  background-color: #14532d;
}

/* ************************************** */
/* BELOW 600px */
/* ************************************** */
@media (max-width: 600px) {
  .wrapper {
    padding: 1rem;
  }

  .button {
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
  }

  .searchForm {
    gap: 2rem;
  }
}
