@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

:root {
  --color-dark: #18181b;
  --color-white: white;
  --color-background: #f1f5f9;
  --font-family: "Roboto", sans-serif;
  --color-text: #333;
  --color-green-dark: #14532d;
}

html {
  font-size: 62.5%;
}

body,
html {
  overflow-x: hidden;
}

body {
  background-color: var(--color-background);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
.header-secondary {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}
